
{{ 'new-best-sellers-section.css' | asset_url | stylesheet_tag }}

<div class="new-best-sellers-section">
  <div class="section-heading">
    <h3>{{ section.settings.heading_title }}</h3>
    <a href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
  </div>
</div>

{% schema %}
    {
      "name": "New Best Sellers",
      "class": "new-best-sellers",
      "settings": [
        {
            "type": "header",
            "content": "Heading"
        },
        {
            "type": "text",
            "id": "heading_title",
            "label": "Heading Title",
            "default": "Best Sellers"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link",
            "default":"/"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Shop All Best Sellers"
        },
        {
            "type": "select",
            "id": "vertical_alignment",
            "label": "Vertical alignment",
            "options": [
                {
                "value": "right_arrow",
                "label": "Right Arrow"
                }
            ],
            "default": "right_arrow"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
      ],
      "presets": [
        {
          "name": "New Best Sellers",
        }
      ]
    }
    {% endschema %}
    